
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}
.nav__dropdown {
    position: relative;
}
.nav > ul {
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 2rem;
}
 li {
    list-style: none;
}
.auth {
    display: flex;
    align-items: center;
}
.nav__megamenu {
    position: absolute;
    z-index: 10;
    background-color: white;
    white-space: nowrap;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    border-radius: 10px;
    display: none;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}
.nav__column > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav__link > i {
    position: relative;
}
.nav__link > i > p {
    position: absolute;
    color: red;
    top: -10px;
    right: 0;
    font-size: 0.4em;
}
.nav__cart {
    position: relative;
}
.cart-items {
    display: none;
    position: absolute;
    right: -2rem;
    top: 4rem;
    z-index: 10;
    background-color: white;
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.cart > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cart > ul > li {
    width: 100%;
    display: flex ;
    justify-content: space-between;
    
    align-items: center;
    
    font-size: 1em;
    gap: 20px;
}
.cart > ul > li > p {
   white-space: nowrap;
   text-align: left;
   width: 100%;
}
#total {
    font-size: 2em;
    font-weight: bold;
}

.cart > ul > li> img {
    width: 80px;
    height: 40px;
    object-fit: cover;
}
.cart > ul > li:last-child {
    margin-top: 10px;
}
#cart-hover {
    position: relative;
    width: 1em;
}
#hamburger > button {
    background-color: transparent;
    border: none;

}
#hamburger {
    position: relative;
    display: none;
}
.hamburger-content {
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    z-index: 10;
    padding: 1em;
    font-size: 1.8em;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    display: none;
}
.hamburger-content > li {
    width: 100%;
}
.hamburger-second {
    display: none;
    flex-direction: column;
    width: 100%;
}
.hamburger-second > li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5em;
    border-bottom: 1px solid black;
    padding: 0.5em;
}
.hamburger-cat {
    display: flex;
  
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cart-ham {
    margin-right: 10px;
}
@media screen and (max-width: 1450px) {
    .nav__item {
        display: none;
    }
    .nav__dropdown {
        display: none;
    }
    .nav__logo > img {
        object-fit: cover;
        height: 5rem;
    }
    #hamburger {
        display: flex;
    }
}