nav > ul > li {
  display: inline-block;
}

.card img {
  width: 200px;
}
.card {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  /* min-height: 100%; */
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.main-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}
.login-header {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.main-header img {
  margin: 30px 0px 0px 0px;
}

.title {
  color: #023047;
  /* text-align: left; */
  /* margin: 50px 50px 50px 100px; */
}

.footer a {
  color: #023047;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav {
  margin: 20px;
  color: #023047;
}

.nav a {
  color: #023047;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
}

.nav__megamenu a:hover {
  background: lightgray;
}

nav li{display:inline-block;}

.hamburger {
  /* margin-right: 30px; */
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #023047;
}

.hamburger-nav-overlay {
  padding: 3%;
  text-align: center;
  color: #f2f2f2;
  visibility: hidden;
  background-color: #023047;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}

.hamburger-nav-overlay a {
  color: #f2f2f2;
}

.container {
  margin: 1% 5% 1% 5%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-auto-columns: minmax(200px, auto);
  gap: 1em;
}

.box {
  position: relative;
  height: 100%;
  background-color: white;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  aspect-ratio: 1;
}

.box img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
}
.box img:hover {
  opacity: 0.2;
}

.box a {
  color: black!important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  opacity: 0.6;
  text-decoration: none;
}

.box:first-child {
  grid-row: 1 / 3;
}

/* home page styling */
.wrapper {
  display: flex;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
/* style left womens image */
.left-column {
  position: relative;
  width: 50%;
  background-color: red;
}

.left-column img {
  width: 100%;
  /* padding: 25px; */
  /* height: 500px; */
  /* width: 500px; */
}

.left-column a {
  position: absolute;
  left: 50%;
  top: 50%;
}

/* style right 4 images */
.right-column {
  background-color: beige;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.right-image {
  flex: 1;
  box-sizing: border-box;
  border: 25px solid orange;
  background-color: rebeccapurple;
  width: 50%;
}
.right-image img {
  padding: 25px;
  height: 250px;
  width: 250px;
}

.flexbox-container {
  margin: 1% 1% 1% 1%;
  padding-bottom: 10px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.placeholder img {
  height: 300px;
  width: 300px;
}

.flexbox-item {
  min-width: 306px;
  height: 450px;
  margin-top: 25px;
  text-align: center;

  /* background-color: whitesmoke; */
}
.text-center {
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
.placeholder {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
.card-content {
  line-height: 1.4;
}

.price {
  color: grey;
  font-size: 22px;
}
.card button {
  border: none;
  padding: 9px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  background-color: #343a40;
}
.card button:hover {
  opacity: 0.7;
}

/* footer styling */

footer {
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

/* login page*/
.login-card {
  padding: 40px 40px;
  background-color: #f8f9fa;
  width: 50%;
  /* height: 100%; */
  border-radius: 7px;
  line-height: 2;
}

.login-card h3 {
  text-align: center;
}

.details-section {
  display: flex;
  justify-content: center;
  /* background: #023047; */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  align-items: center;

  /* transform: translate(-50%, -50%); */
}

/* sign up page  */
.signup-card {
  flex: 1;
  padding: 40px 40px;
  background: rgba(0, 0, 0, 0.5);
  background-color: #f8f9fa;
  max-width: 500px;
  border-radius: 7px;
  line-height: 2;
}

.signup-card h3 {
  text-align: center;
}

.user {
  margin: 10px 0px 10px 0px;
  text-align: center;
  border: solid;
  padding: 10px 0px 10px 0px;
  width: 100%;
}

.login-btn {
  background-color: #023047;
  border: solid;
  color: #f8f9fa;
  margin: 10px 0px 10px 0px;
  padding: 10px 30px 10px 30px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #219ebc;
}

.already-member {
  text-align: center;
}

/* checkout page */
.checkout-page {
  background-color: #f5f3f4;
  margin: auto;
  width: 70%;
  height: 80%;
  padding: 50px;
}
.checkout-page h1 {
  text-align: center;
  padding: 2%;
}

.checkout {
  color: black;
  justify-content: space-around;
  padding: 50px;
}
.checkout h2 {
  margin: 25px 25px 25px 0px;
}

.checkout label {
  margin: 25 0px 25px 0px;
}
.postcode {
  display: flex;
  margin-top: 1%;
}

.postcode-item {
  margin-right: 30px;
}
.payment {
  padding: 2px;
}

.btn {
  color: white;
  right: 0;
  padding: 10px 50px 10px 50px;
  background-color: #023047;
  border-radius: 5px;
}

.category-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 2000px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1300px) {
  .category-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.category > div {
  width: 100%;
  position: relative;
}
.category > div > img {
  height: 50rem;
  width: 100%;
  object-fit: cover !important;
}
@media screen and (max-width: 650px) {
  .category > div > img {
    height: 25rem;
  }
}
.content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
}

/* .address-row {
    margin: 10px 0px 10px 0px;
    display: flex;
    direction: wrap;
    justify-content: space-evenly;
    font-size: 16px;
  } */
/* .address-item {
    margin: 10px 0px 10px 0px;
    text-align: left;
    border: none;
    padding: 10px 0px 10px 0px;
    width: 100%;
  } */
/* .user-address {
    margin: 10px 0px 10px 0px;
    text-align: center;
    border: none;
    padding: 10px 0px 10px 0px;
    width: %;
  } */
/* 
.right {
  right: 0;
  width: 30%;
  height: 75%;
  margin: 0px;
  padding: 10px 10px 10px 10px;
  background-color: peru;
} */

/* cart page */

.item {
  margin: 30px;
}
.price {
  float: right;
}

.cart-container {
  color: #023047;
  margin: auto;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.cart {
  margin: 50px;
}

.view-cart {
  margin: 10px;
  padding: 20px;
}

.summary {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.summary-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .nav-container {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .container {
    margin: 1% 5% 1% 5%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-auto-columns: minmax(200px, auto);
    gap: 1em;
    justify-content: center;
  }
  .box img {
    width: 400px;
    object-fit: cover;
  }
}

.container-product {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 20px;
  display: flex;
  font-size: 1.2rem;
  width: 80%;
}
@media screen and (max-width: 1200px) {
  .product {
    flex-direction: column;
    text-align: center;
  }
}

.product-img {
  width: 50%;
  height: 100%;
  object-fit: contain;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}
.cart-btn {
  width: 100%;
  padding: 1em;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: gray;
  color: white;
}
.cart-btn:hover {
  background-color: #000;
  cursor: pointer;
}
.content-product {
  display: flex;

  gap: 20px;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Thank you page */
.prod-thumbnail{
  width: 100px;
  height: auto;
}

.order-summary-container{
  text-align: center;
}

.order-summary-container table{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.order-summary-container table th, .order-summary-container table td {
  padding: 4px;
}

/* Disable visited link due to being ineligible in text overlays on homepage */
a, a:visited, a:hover, a:active {
  color: inherit;
}

/* Outline heading in white for legibility in text overlays */
.dept-title{
/* color: white; */
background-color: white;
/* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
opacity: 0.6;
}

/* a .home-dept-title{
  color: black
} */