<head>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
</head>
<nav class="nav">
  <a href="/" class="nav__logo">
    <!-- Add your logo HTML here -->
    <img src="/images/logo/impress-apparel.png">
    <script src="/js/navBar.js" defer></script>
  </a>
  <ul>
    <% megaMenuArray.forEach(function(productCategoryGender) { %>
      <li class="nav__item nav__dropdown">
        <div class="n">
          <a href="/product-categories/<%=productCategoryGender.id%>" class="nav__link">
            <%= productCategoryGender.product_category_gender_name %>
          </a>
          <div class="nav__megamenu">
            <div class="nav__column">
              <ul>
                <% productCategoryGender.product_categories.forEach(function(productCategory) { %>
                  <li><a href="/product-category/<%=productCategory.id%>">
                      <%= productCategory.product_category_name %>
                    </a></li>
                  <% }); %>
              </ul>
            </div>
          </div>
        </div>

      </li>
      <% }); %>
  </ul>
  <div class="auth">
  <% if (loggedIn) { %>
    <a href="/api/users/logout">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    <%} else { %>
      <a href="/login"> Sign In <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
    <% } %>
  </div>

  <div id="cart-hover">
    <li class="nav__item nav__cart">
      <a href="/cart" class="nav__link"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true">
          <p id="cart-quantity"></p>
        </i></a>
        
      <div class="cart-items">
        <div class="cart">
          <ul>
          </ul>
        </div>
    </li>
  </div>
  </div>

</nav>