<nav>
  <ul>
    <% megaMenuArray.forEach(function(productCategoryGender) { %>
      <li class="nav__item nav__dropdown">
        <a href="#" class="nav__link"><%= productCategoryGender.product_category_gender_name %></a>
        <div class="nav__megamenu">
          <div class="nav__column">
            <ul>
              <% productCategoryGender.product_categories.forEach(function(productCategory) { %>
                <li><a href="#"><%= productCategory.product_category_name %></a></li>
              <% }); %>
            </ul>
          </div>
        </div>
      </li>
    <% }); %>
    <li class="nav__item nav__cart">
        <a href="#" class="nav__link"><i class="fa fa-shopping-cart fa-4x" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>